/*GENERAL*/

h1, h2, h4, h5, p , ul{
    font-family: Montserrat; 
    color: white;   
}

h3{
  font-family: Montserrat;
  color: white;
  text-align: center;
}

.imagenCassette{
  position: absolute;
  top: 0%;
  border-radius: 10%;
}
body{
  background-color: #333;
}
footer{
  background: #ba090f;
  position: absolute;
  top: 90%;
  left: 30%;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  height: 150px;
}
.textHeaderFooter{
  color: black;
}
h1 {
    font-size: 40px;
    
}
h2{
    font-size: 20px;
     
}
a {
  color: beige;
}

head{
  position: sticky;
}


/*Sign*/

.formulario{
  background: #ba090f;
  border-radius: 30px;
  position: absolute;
  height: 400px;
  width: 300px;
  top: 20%;
  left: 40%;
}
#textSignInUp{
  position: absolute;
  top: 2%;
  left: 15%;
  color: white;
  font-size: 25px;

}
#textEmail{
  position: absolute;
  left: 43%;
  top: 20%;
}
#textUsername{
  position: absolute;
  left: 37%;
  top: 35%;
}
#textPassword{
  position: absolute;
  left: 37%;
  top: 50%;
}

#rememberMe{
  position: absolute;
  left: 30%;
  top: 71%;
}
.boxes{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 70%;
  height: 5%;
  left: 15%;
}
#email{
  position:absolute;
  top: 32%;
}
#username{
  position:absolute;
  top: 47%;
}
#password{
  position:absolute;
  top: 62%;
}
#boxRememberMe{
  position: absolute;
  padding: 10px;
  left: 20%;
  top: 75%;
  width: 7%;
}
#submit{ 
  position:absolute;
  top: 87%;
  height: 10%;
  background-color: grey;
  color: white;
  border: transparent;

}

/*INDEX*/

.vids{
  width: 420px;
  height: 46.4px;
}

#tabla{
  position: relative;
  top: 70px;
}



/*BOTONES DESPLEGABLES*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  position: relative;
  top: 100px;
  width: 700px;
  padding: 0;
  background: #fffcfc;
  margin: right;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
  border: none ;
}

summary{
  background: #ba090f;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}

p{
  padding: 15px;
  background: #fff;
  color: #333;
}


/*FOOTER*/


.boxFooter{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 400px;
}

.formFooter{
  width: 600px;
  height: 100px;
}

.textFooter{
  position: fixed;
  left: 35%;
  top: 10%;
  height: 20px;
}

.submitFooter{
  position:fixed;
  left: 50%;
  top: 30%;
}

.social{
  position: relative;
  left: 0;
  top: -20%;
}


#cassette{
  text-align: left;
}

.centrado{
    color: black;
    text-align: center;
    text-transform: uppercase;
} 
.temas{
  border-radius: 20px;
}

/*menu*/
#dropdownMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  padding: 10px 0; 
  box-shadow: 0 2px 5px rgb(255, 0, 0); 
  z-index: 999; 
}

#dropdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

#dropdownMenu ul li {
  display: inline-block; 
  margin-right: 20px;
}

#dropdownMenu ul li:last-child {
  margin-right: 0;
}

#dropdownMenu ul li a {
  color: #fff; 
  text-decoration: none;
  padding: 10px 15px; 
  transition: background-color 0.3s ease; 
}

#dropdownMenu ul li a:hover {
  background-color: #9b2020; 
}

.logo {
  width: 50px; 
  height: auto;
  margin-right: 10px; 
  transition: transform 0.5s ease; /* Añade una transición suave al giro del logo */
}

.logo:hover {
  transform: rotate(360deg); /* Gira el logo 360 grados cuando se pasa el mouse sobre él */
}
















