/*GENERAL*/

h1, h2, h4, p , ul{
    font-family: Montserrat; 
    color: white;   
}

h3{
  font-family: Montserrat;
  color: white;
  text-align: center;
}

.imagenCassette{
  position: absolute;
  top: 0%;
  border-radius: 10%; 
}
body{
  background-color: #333;
  height: 220vh;
  width: 210vh;
  overflow-x: hidden; /* que no se mueva al costado */
}

.textHeaderFooter{
  color: #fff;}
h1 {
    font-size: 40px;
    
}
h2{
    font-size: 20px;
    margin-top: 70px;
     
}
a {
  color: beige;
}

head{
  position: sticky;
}


/*Sign*/

.formulario{
  background: #ba090f;
  border-radius: 30px;
  position: absolute;
  height: 400px;
  width: 300px;
  top: 20%;
  left: 40%;
  z-index: 1;
}
#textSignInUp{
  position: relative;
  top: -10%;
  left: 15%;
  color: white;
  font-size: 25px;

}
#textEmail{
  position: absolute;
  left: 43%;
  top: 20%;
}
#textUsername{
  position: absolute;
  left: 37%;
  top: 35%;
}
#textPassword{
  position: absolute;
  left: 37%;
  top: 50%;
}

#rememberMe{
  position: absolute;
  left: 30%;
  top: 71%;
}
.boxes{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 70%;
  height: 5%;
  left: 15%;
}
#email{
  position:absolute;
  top: 27%;
}
#username{
  position:absolute;
  top: 42%;
}
#password{
  position:absolute;
  top: 57%;
}
#boxRememberMe{
  position: absolute;
  padding: 10px;
  left: 20%;
  top: 70%;
  width: 7%;
}
#submit{ 
  position:absolute;
  top: 87%;
  height: 10%;
  background-color: grey;
  color: white;
  border: transparent;

}

/*ANIMACION*/
.rain-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

@keyframes animation {
  0% {
    transform: translate(var(--x-start), var(--y-start))rotate(0);
  }

  100% {
    transform: translate(var(--x-end), var(--y-end))rotate(50deg);
  }
}

.rainDrop {
  font-size: var(--sz);
  filter: blur(var(--blur));
  animation: animation 20s linear infinite;
  transform: translate(var(--x-start), -30vh) rotate(180deg);
  opacity: var(--a);
}

.rainDrop--s {
  --sz: 3rem;
  --blur: 0px;
  --a: 0.8;
  --x-start: 50vw;
  --x-end: 0;
  --y-start: 0;
  --y-end: 100vh;
  z-index: 70;
  position: relative;
}

.rainDrop--m {
  --sz: 4rem;
  --blur: 0px;
  --a: 0.8;
  --x-start: 50vw;
  --x-end: 0;
  --y-start: 0;
  --y-end: 100vh;
  position: absolute;
  z-index: 50;
}

.rainDrop--l {
  --sz: 5rem;
  --blur: 0px;
  --a: 0.8;
  --x-start: 50vw;
  --x-end: 0;
  --y-start: 0;
  --y-end: 100vh;
  position: absolute;
  z-index: 80;
}

/*INDEX*/

.vids{
  width: 420px;
  height: 46.4px;
  scroll-margin-top: 75px;
  margin-top: 20px;

}

#tabla{
  position: auto;
  margin-top: 20px;
  
}

/*SECCIONES*/
html{
  scroll-behavior: smooth;
}
.item{
  margin-top: 20px;
  scroll-margin-top: 75px;
  text-align: center;

}
.im {
  margin-top: 20px;
  scroll-margin-top: 75px;
  font-size: 130%;
  display: flex;
  margin-left: 100px;
  text-align: justify; 
}

.textos {
  margin-right: 20px;
  margin-bottom: 20px; 
  display: inline-block;
}

.img {
  width: 350px; 
  height: 300px;
  margin-right: 100px; 
  justify-content: center;
  align-items: center;
  
}

h5{
  font-family: Montserrat; 
  color: #f80f0f;
  font-size: 130%;
}

.artista{
  display: flex;
  justify-content: center;

}

.art1{
  width: 270px; 
  height: 220px;
  margin-right: 20px;
  

}
.art2{
  width: 270px; 
  height: 220px;
  margin-right: 20px;
  
  

}
.art3{
  width: 270px; 
  height: 220px;
  

}
.art4{
  width: 270px; 
  height: 220px;
  margin-left: 20px;
  

}

/*BOTONES DESPLEGABLES*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

section{
  background: #333;
  color: #f80f0f;
  margin: right;
  font-size: 120%;
  flex-direction: column;
  font-family: Montserrat;
  border: none ;
  margin-bottom: 30px; 
}

summary{
  background: #484747;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: Montserrat;
  font-size: 75%;
}

p{
  padding: 20px;
  background: #333;
  color: white; 
  font-size: medium;

}


/*FOOTER*/

footer{
  background: #ba090f;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: 103%;
  margin-top: 80px;
  height: 150px;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

#contacto{
  margin-top: 20px;
}

.boxFooter{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 20px;
}


.submitFooter{

  margin-bottom: 20px;
}




#cassette{
  text-align: left;
}

.centrado{
    color: rgb(249, 246, 246);
    text-align: center;
    text-transform: uppercase;

} 
.temas{
  border-radius: 20px;
}

/*menu*/
#dropdownMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  padding: 10px 0; 
  box-shadow: 0 2px 5px rgb(255, 0, 0); 
  z-index: 999; 
}

#dropdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

#dropdownMenu ul li {
  display: inline-block; 
  margin-right: 20px;
}

#dropdownMenu ul li:last-child {
  margin-right: 0;
}

#dropdownMenu ul li a {
  color: #fff; 
  text-decoration: none;
  padding: 10px 15px; 
  transition: background-color 0.3s ease; 
}

#dropdownMenu ul li a:hover {
  background-color: #9b2020; 
}

.logo {
  width: 50px; 
  height: auto;
  margin-right: 10px; 
  transition: transform 0.5s ease; /* Añade una transición suave al giro del logo */
}

.logo:hover {
  transform: rotate(360deg); /* Gira el logo 360 grados cuando se pasa el mouse sobre él */
}
















